<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="LFTZ_InvestorPortalEntities" connectionString="metadata=res://*/LFTZIPContext.csdl|res://*/LFTZIPContext.ssdl|res://*/LFTZIPContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-HG05SAVL\SQLEXPRESS;initial catalog=LFZ_BudgetingPortal;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="LFZ_BudgetingPortalEntities" connectionString="metadata=res://*/LFTZIPContext.csdl|res://*/LFTZIPContext.ssdl|res://*/LFTZIPContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LFZ_BudgetingPortal;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>