[*.cs]

# CS2001: Source file 'C:\Users\Mohammed Toufeeq\Desktop\ismail\LFZ_InvestorPortal\LFTZ_Investor_SVN\DAL\TaskList_G_Result1.cs' could not be found.
dotnet_diagnostic.CS2001.severity = warning
