<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LFTZ Dashboard</title>


    <link rel="shortcut icon" href="http://www.lagosftz.com/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://www.lagosftz.com/images/favicon.ico" type="image/x-icon">


    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <!--<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">-->


    <link rel='stylesheet' href='css/dataTables.bootstrap4.min.css'>
    <link rel='stylesheet' href='css/responsive.dataTables.min.css'>
    <link rel='stylesheet' href='css/boxicons.min.css'>
    <!--<link rel="stylesheet" href="css/data-table.css">-->


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Custom styles for this template-->
   
    <link href="~/css/login.css" rel="stylesheet">

</head>


<body>

    <div class="login-page">
        <div class="right-bg">

            <div class="login-wrap">

                <br><br>

                <div class="logo-sec">
                    <img src="img/lftz-logo.png">
                </div>



                <h2 class="subtitle">
                    Dear LFTZ Users,<br><br>
                    IT Team is working on urgent maintenance of the Investor Portal.  Hence, the application will be down between 11:30 AM To 02:00 PM (Nigeria Time)<br><br>
                    Thank you<br><br>
                    IT Team LFTZ<br>
                </h2>



                <div class="login-box">

                    
                    <div class="card rounded shadow shadow-sm">
                        <!--<div class="card-header">

                        </div>-->
                        <br><h3 class="mb-0 text-center">Investor Portal</h3>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate method="POST">
                                <div class="form-group">
                                    <label for="uname1">Username</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required>
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required autocomplete="new-password">
                                    <div class="invalid-feedback">Enter your password too!</div>
                                </div>
                                <!--<div>
                                    <label class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description small text-dark">Remember me on this computer</span>
                                    </label>
                                </div>-->
                                <!-- <button type="submit" class="button-color btn btn-success btn-lg float-right" id="btnLogin">Login</button>-->

                                <a type="submit" class="button-color btn btn-success btn-lg float-right" href="" id="">Login</a>
                            </form>
                        </div>



                        <input type="button" onclick="@Url.Action("Login","Accounts")"/>
                    </div>

                </div>

                <div class="bottom-footer">
                    <p>Lagos Free Trade Zone 2019. All Rights Reserved</p>
                </div>
            </div>
        </div>


    </div>


    <!--===============================================================================================-->
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->


    <script src='js/jquery.dataTables.min.js'></script>
    <script src='js/dataTables.responsive.min.js'></script>
    <script src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js'></script>



    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/page-js.js"></script>
</body>
<script>

</script>
</html>