@{
    ViewBag.Title = "RegisterSuccess";
}

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome-text col-lg-6 col-md-5 col-sm-8 ">
                    <div class="logo">
                        <a href="~/Home/Index"><img src="/images/WEB-logo.png" class="img-responsive" alt="WEB"></a>
                    </div>
                    <div class="supporters">
                        <img src="/images/supporters.png" class="img-responsive" alt="">
                    </div>
                    <br /><br />

                    <h2 class="text-center">WEB 2018 ONLINE</h2>
                    <br />
                    <h3 class="text-center">Thank you for registering with us.  </h3>
                    <br />
                    <h3 class="text-center">We will process your request and get back to you in 48 hours.</h3>

                    <br /><br />
                    <span class="ext-link"><h3><a href="~/Home/Index">Home</a></h3></span>
                    <span class="ext-link"><h3><a href="~/Home/Login">Login</a></h3></span>



                </div>
            </div>
        </div>
        <div class="row">
            <p class="text-footer col-md-12 mt-15"><a href="~/Account/TermsPolicy">Terms and Privacy Policy </a> &copy; Copyright 2018. All rights reserved.</p>
        </div>
    </div>
</section>


