@{
    ViewBag.Title = "Term and Privacy Policy ";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <div class="logo">
                        <a href="~/Home/Index"><img src="/images/WEB-logo.png" class="img-responsive" alt="WEB"></a>
                    </div>
                    <div class="supporters">
                        <img src="/images/supporters.png" class="img-responsive" alt="">
                    </div>

                    <h2>Terms and Privacy Policy</h2>
                    Ethics Policy
                    Contributors to https://therapytraining.in/ are independent contractors who create and publish content on https://therapytraining.in/.com and affiliated sites (the "Site"). Contributors are compensated in part based on the amount of content that they create and/or the page views of the Site containing the content they create. The contributors, and not https://therapytraining.in/, are responsible for their own compliance with these standards. These contributors and other writers provide advice and information that they intend to be not only practical but trustworthy. These contributors and other writers write and are responsible for their content, and this content is made available on https://therapytraining.in/ "AS IS". <br />
                                                                                                                                                                                                                                                                                                                                  <h3>Terms of Use</h3>
                    1.	OVERVIEW<br />
                    https://therapytraining.in/.com and its affiliated sites (the “Site”) are Desousa Foundation, owned and operated by Dr. Avinash De sousa. and its affiliates ("https://therapytraining.in/", the "Company", "we", or "us"). Access to and use of the Site is subject to these terms and conditions of use (“Terms of Use”).<br />
                    •	"Site" or "https://therapytraining.in/" shall include any information or services made available by https://therapytraining.in/, regardless of the medium, and shall include, without limitation any affiliated websites, mobile applications, videos, products and applications we make available. We reserve the right at any time, and from time to time, to modify, suspend or discontinue (temporarily or permanently) the Site, or any part of the Site, with or without notice.<br />
                    •	The Site is not intended for users under 13 years of age. If you are under 13, do not use the Site and do not provide us with any personal information.<br />
                    •	We make no claims that the Site or any of its content is accessible or appropriate outside of the United States. Access to the Site may not be legal by certain persons or in certain countries. If you access the Site from outside the United States, you do so on your own initiative and are responsible for compliance with local laws and regulations.<br /><br />

                    2.	DISCLAIMER<br />
                    The information available through the Site is provided solely for informational purposes on an “as is” basis at user’s sole risk. https://therapytraining.in/ makes no guarantees as to the accurateness, quality, or completeness of the information and https://therapytraining.in/ shall not be responsible or liable for any errors, omissions, or inaccuracies in the information or for any user’s reliance on the information. User is solely responsible for verifying the information as being appropriate for user’s personal use.<br /><br />
                    3.	OUR RIGHT TO MODIFY THESE TERMS OF USE<br />
                    We reserve the right to change these Terms of Use at any time. You should check this page regularly. The changes will appear on the Site and will be effective when we post the changes. Your continued use of the Site means you agree to and accept the changes.<br /><br />
                    4.	OUR PRIVACY POLICY<br />
                    Our Privacy Policy contains further information about how data is collected, used and made available on or by our Site. We encourage you to read it, here.<br /><br />
                    5.	HTTPS://THERAPYTRAINING.IN/ INTELLECTUAL PROPERTY<br />
                    Your Limited License to our Intellectual Property<br />
                    The materials used and displayed on the Site, including but not limited to text, software, photographs, graphics, illustrations and artwork, video, music and sound, and names, logos, trademarks and service marks, are the property of https://therapytraining.in/, About, Inc., or its affiliates or licensors and are protected by copyright, trademark and other laws. Any such content may be used solely for your personal, non-commercial use. You agree not to modify, reproduce, retransmit, distribute, disseminate, sell, publish, broadcast or circulate any such material without the prior written permission of https://therapytraining.in/. https://therapytraining.in/ grants you a personal, non-exclusive, non-transferable, revocable license to use the Site and any materials on the site for non-commercial purposes subject to these Terms of Use.<br />
                    https://therapytraining.in/ Trademarks and Logos<br />
                    The terms https://therapytraining.in/, www.https://therapytraining.in/.com and other https://therapytraining.in/ trademarks and services marks, and associated logos and all related names, logos, product and service names, designs and slogans are trademarks of https://therapytraining.in/ or its affiliates or licensors. You may not use such marks without the prior written permission of https://therapytraining.in/. All other names, logos, product and service names, designs and slogans on the Site are the trademarks of their respective owners.<br /><br />
                    6.	PROHIBITED USES OF THE SITE<br />
                    You may use the Site only for lawful purposes and in accordance with these Terms of Use. You agree not to use the Site:<br />
                    •	In any way that violates any applicable federal, state, local or international law or regulation.<br />
                    •	For the purpose of exploiting, harming or attempting to exploit or harm minors in any way by exposing them to inappropriate content, asking for personally identifiable information or otherwise.<br />
                    •	To transmit, or procure the sending of, any advertising or promotional material, including any "junk mail", "chain letter" or "spam" or any other similar solicitation.<br />
                    •	To impersonate or attempt to impersonate https://therapytraining.in/, a https://therapytraining.in/ employee, another user or any other person or entity (including, without limitation, by using email addresses or screen names associated with any of the foregoing).<br />
                    •	To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the Site, or which, as determined by us, may harm https://therapytraining.in/ or users of the Site or expose them to liability.<br />
                    Additionally, you agree not to:<br />
                    •	"Scrape" or disaggregate data from the Site (whether by manual or automated means) for any commercial, marketing, or data compiling or enhancing purpose.<br />
                    •	Introduce any viruses, trojan horses, worms, logic bombs or other material or mechanism which is malicious or technologically harmful.<br />
                    •	Attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Site, the server on which the Site is stored, or any server, computer or database connected to the Site.<br />
                    •	Otherwise attempt to interfere with the proper working of the Site.<br /><br />

                    7.	CONTENT THAT YOU MAKE AVAILABLE ON THE SITE<br />
                    User Contributions<br />
                    The Site may contain message boards, chat rooms, personal web pages or profiles, forums, bulletin boards and other interactive features (collectively, "Interactive Services") that allow users to post, submit, publish, display or transmit to other users or other persons (hereinafter, "post") content or materials (collectively, "User Contributions") on or through the Site.<br />
                    If you voluntarily disclose personal information (e.g., user name, email address) on the Site, such as on a forum, chat room or on any other user or member-generated pages, that information can be viewed in search engines, collected and used by others and may result in unsolicited contact from other parties. We advise that you not post any personal or other sensitive information on our Site.<br />
                    Any User Contribution you post to the Site will be considered non-confidential and non-proprietary. By providing any User Contribution on the Site, you grant us and our affiliates and service providers, and each of their and our respective licensees, successors and assigns the right to use, reproduce, modify, perform, display, distribute and otherwise disclose to third parties any such material for any purpose.<br />
                    You represent and warrant that:<br />
                    •	You own or control all rights in and to the User Contributions and have the right to grant the license granted above to us and our affiliates and service providers, and each of their and our respective licensees, successors and assigns.<br />
                    •	All of your User Contributions do and will comply with these Terms of Use.<br />
                    You understand and acknowledge that you are responsible for any User Contributions you submit or contribute, and you, not the Company, have full responsibility for such content, including its legality, reliability, accuracy and appropriateness. We are not responsible, or liable to any third party, for the content or accuracy of any User Contributions posted by you or any other user of the Site.<br /><br />
                    MONITORING AND ENFORCEMENT; TERMINATION<br />
                    We have the right to:<br />
                    •	Remove or refuse to post any User Contributions for any or no reason in our sole discretion.<br />
                    •	Take any action with respect to any User Contribution that we deem necessary or appropriate in our sole discretion, including if we believe that such User Contribution violates the Terms of Use, including the content standards below, infringes any intellectual property right or other right of any person or entity, threatens the personal safety of users of the Site or the public or could create liability for the Company.<br />
                    •	Disclose your identity or other information about you to any third party who claims that material posted by you violates their rights, including their intellectual property rights or their right to privacy.<br />
                    •	Take appropriate legal action, including without limitation, referral to law enforcement, for any illegal or unauthorized use of the Site.<br />
                    •	Terminate or suspend your access to all or part of the Site for any or no reason, including without limitation, any violation of these Terms of Use.<br />
                    Without limiting the foregoing, we have the right to fully cooperate with any law enforcement authorities or court order requesting or directing us to disclose the identity or other information related to anyone posting any materials on or through the Site. YOU WAIVE AND HOLD HARMLESS THE COMPANY AND ITS AFFILIATES, AGENTS, LICENSEES AND SERVICE PROVIDERS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY ANY OF THE FOREGOING PARTIES DURING OR AS A RESULT OF ITS INVESTIGATIONS AND FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY EITHER THE COMPANY/SUCH PARTIES OR LAW ENFORCEMENT AUTHORITIES.<br />
                    We cannot and do not undertake to review all material before it is posted on the Site, and cannot ensure prompt removal of objectionable material after it has been posted. Accordingly, we assume no liability for any action or inaction regarding transmissions, communications or content provided by any user or third party. We have no liability or responsibility to anyone for performance or nonperformance of the activities described in this section.<br /><br />
                    CONTENT STANDARDS<br />
                    These content standards apply to any and all User Contributions and use of Interactive Services. User Contributions must in their entirety comply with all applicable federal, state, local and international laws and regulations. Without limiting the foregoing, User Contributions must not:<br />
                    •	Contain any material which is defamatory, obscene, indecent, abusive, offensive, harassing, violent, hateful, inflammatory or otherwise objectionable.<br />
                    •	Promote sexually explicit or pornographic material, violence, or discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.<br />
                    •	Infringe any patent, trademark, trade secret, copyright or other intellectual property or other rights of any other person.<br />
                    •	Violate the legal rights (including the rights of publicity and privacy) of others or contain any material that could give rise to any civil or criminal liability under applicable laws or regulations or that otherwise may be in conflict with these Terms of Use and our Privacy Policy.<br />
                    •	Be likely to deceive any person.<br />
                    •	Promote any illegal activity, or advocate, promote or assist any unlawful act.<br />
                    •	Cause annoyance, inconvenience or needless anxiety or be likely to upset, harass, embarrass, alarm or annoy any other person.<br />
                    •	Impersonate any person, or misrepresent your identity or affiliation with any person or organization.<br />
                    •	Promote commercial activities or sales, such as contests, sweepstakes and other sales promotions, barter or advertising.<br />
                    •	Give the impression that they emanate from or are endorsed by us or any other person or entity, if that is not the case.<br /><br />

                    8.	YOUR INDEMNIFICATION OF US<br />
                    You agree to indemnify, defend and hold harmless https://therapytraining.in/, and its officers, directors, owners, employees, agents, information providers, affiliates, licensors and licensees (collectively, the "Indemnified Parties") from and against any and all liability and costs, including, without limitation, reasonable attorneys' fees, incurred by the Indemnified Parties in connection with any claim arising out of (a) any User Contributions, or (b) breach by you or any user of your account or these Terms of Use or any representations, warranties and covenants contained in these Terms of Use. You shall cooperate fully and reasonably in the defense of any such claim. https://therapytraining.in/ reserves the right, at its own expense, to assume the exclusive defense and control of any matter subject to indemnification by you.<br /><br />
                    9.	WARRANTY DISCLAIMER<br />
                    THE SITE IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPOSED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THESE TERMS OF USE. WE DO NOT ENDORSE AND ARE NOT RESPONSIBLE FOR THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE OR STATEMENT ON THE SITE. THE INFORMATION, FACTS, AND OPINIONS PROVIDED ARE NO SUBSTITUTE FOR PROFESSIONAL ADVICE.<br /><br />
                    10.	LIABILITY DISCLAIMER<br />
                    YOUR USE OF THE SITE IS AT YOUR OWN RISK. NEITHER, HTTPS://THERAPYTRAINING.IN/ OR ABOUT, INC. NOR ANY OF ITS SUBSIDIARIES, DIVISIONS, AFFILIATES, AGENTS, REPRESENTATIVES OR LICENSORS (INCLUDING OUR INDEPENDENT CONTRACTOR CONTRIBUTORS) SHALL BE LIABLE TO YOU OR ANYONE ELSE FOR ANY LOSS OR INJURY OR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE OR SIMILAR DAMAGES ARISING OUT OF YOUR ACCESS OR USE OF, OR YOUR INABILITY TO ACCESS OR USE, THE SITE AND THE INFORMATION AVAILABLE ON THE SITE OR ARISING OUT OF ANY ACTION TAKEN IN RESPONSE TO OR AS A RESULT OF ANY INFORMATION AVAILABLE ON THE SITE. YOU HEREBY WAIVE ANY AND ALL CLAIMS AGAINST HTTPS://THERAPYTRAINING.IN/, ABOUT, INC. AND ITS SUBSIDIARIES, DIVISIONS, AFFILIATES, AGENTS, REPRESENTATIVES AND LICENSORS (INCLUDING OUR INDEPENDENT CONTRACTOR CONTRIBUTORS) ARISING OUT OF YOUR USE OF THE SITE AND THE INFORMATION AVAILABLE THEREON.<br /><br />
                    11.	THIRD PARTY LINKS, ADVERTISEMENTS, WEBSITES AND CONTENT<br />
                    We do not review or monitor any websites, advertisements, or other media linked to or available through the Site and are not responsible for the content of any such third party advertisements or linked websites. Prior to purchasing any third party products or services described on the Site, you are advised to verify pricing, product quality and other information necessary to make an informed purchase. Neither https://therapytraining.in/ nor its parent or any of its subsidiaries, divisions, affiliates, agents, representatives or licensors shall have any liability arising from your purchases of third party products or services based upon the information provided on the Site, and we shall not receive or review complaints regarding such purchases.<br /><br />
                    12.	DISPUTES<br />
                    These Terms of Use and any disputes arising out of or related to the Site shall be governed by, and construed and enforced in accordance with, the laws of the State of New York (without regard to conflict of law principles). In the event of any such dispute, you irrevocably consent to exclusive jurisdiction and venue in the courts located in the State of New York, County of New York.<br />
                    ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO THESE TERMS OF USE OR THE SITE MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE, SUCH CAUSE OF ACTION OR CLAIM IS PERMANENTLY BARRED AND YOU HEREBY AGREE TO WAIVE SUCH CAUSE OF ACTION OR CLAIM AFTER SUCH DATE.<br /><br />
                    13.	WAIVER AND SEVERABILITY<br />
                    No waiver by https://therapytraining.in/ of any term or condition set forth in these Terms of Use shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of https://therapytraining.in/ to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision.<br />
                    If any provision of these Terms of Use is held by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect.<br /><br />
                    14.	ENTIRE AGREEMENT<br />
                    The Terms of Use constitute the sole and entire agreement between you and https://therapytraining.in/ with respect to the Site and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to the Site.<br />
                    It is the policy of https://therapytraining.in/ to disable the accounts of users who repeatedly post infringing material on the Site.<br /><br />
                    15.	HOW TO CONTACT US
                    This Site is operated by Dr. Avinash De sousa<br />
                    Carmel, 18, St. Francis Road, Off S.V. Road,<br />
                    Near Sacred Heart Church Santacruz (West),<br />
                    Mumbai - 400-054.<br />
                    +91-22-2648 2869 / +91 9820696828<br /><br />

                    All other feedback, comments, requests for technical support and other communications relating to the Site should be directed to: inf@therapytraining.in<br />
                    Thank you for visiting https://therapytraining.in/.<br /><br />
                    Privacy Policy<br />
                    At https://therapytraining.in/, we take online privacy seriously and we respect the concerns of our community of users. In this policy (the “Privacy Policy”) we describe our privacy practices with regard to information we collect through https://therapytraining.in/.com and its affiliated sites (collectively, the “Site”), to help you make informed decisions about how you share information when you visit or use the site.<br />
                    Understanding How Information Is Collected on https://therapytraining.in/:<br /><br />
                    INFORMATION YOU MAY CHOOSE TO PROVIDE TO US<br />
                    We may collect information, including personal data, directly from you if you choose to provide that information. For example, you may provide us with your name and contact information (such as an email address), date of birth, or other details of that nature, when you sign up for our newsletters or participate in promotions or surveys on the Site.<br />
                    You also may choose to provide personal data about yourself when you participate in forums or discussions on the Site. Please be aware that information you post in these forums may be viewed or captured by anyone who visits the Site, therefore you should avoid posting sensitive personal data that you would not want to be available to the public.<br /><br />
                    HOW WE MAY USE INFORMATION WE COLLECT<br />
                    We may use the information gathered on https://therapytraining.in/ for various purposes, including the purposes listed below. For example, if you were to contact us with a question and provide your email address, we would use the email address you provided to respond to your inquiry. In addition, we use information we collect from you and through the Site to:<br />
                    •	Provide products and services you request (such as when you sign up to receive our email newsletters);<br />
                    •	Respond to requests, questions, and comments, and provide other types of user support;<br />
                    •	Offer you products and services via marketing communications, or direct you to portions of this Site or other websites, that we believe may interest you;<br />
                    •	To serve advertising, content and offers to you based on your interests and online activities, from us or third parties;<br />
                    •	Communicate about, and administer your participation in, events, programs, contests, and other offers or promotions;<br />
                    •	Carry out, evaluate, and improve our business (which may include developing new features for the Site; analyzing and enhancing the user experience on the Site; assessing the effectiveness of our marketing and advertising; and managing our communications);<br />
                    •	Perform data analytics regarding usage of the Site (including market and customer research, trend analysis, financial analysis, and anonymization of personal data);<br />
                    •	Guard against, identify, and prevent fraud and other criminal activity, claims, and other liabilities; and<br />
                    •	Comply with applicable legal requirements, law enforcement requests, and our company policies.<br /><br />

                    HOW WE PROTECT PERSONAL DATA<br />
                    We maintain appropriate administrative, technical, and physical safeguards designed to protect the personal data you provide against accidental, unlawful, or unauthorized destruction, loss, alteration, access, disclosure, or use. That said, it is not possible to guarantee the security of information transmitted online, and you assume some risk with regard to the security of information you provide through any website, including this Site. If you have a data security inquiry, you may contact us by emailing info@therapytraining.in. To request an invite to our bug bounty program to submit reports on vulnerabilities found on https://therapytraining.in/.com, you may contact us by emailing info@therapytraining.in.<br /><br />
                    CHILDREN’S PRIVACY<br />
                    This Site is not designed or intended for use by children, and we do not knowingly collect personal data from children under the age of 16. If we become aware that we have collected personal data from a child under the age of 16, we will delete any such information.<br />
                    •	from https://therapytraining.in/ users or place any cookies, applets or other similar files — if those files transmit any personally identifiable information to Advertisers — on desktop computers or mobile devices of https://therapytraining.in/ users. Advertisers must handle data with appropriate care, not misuse any data which they are permitted to collect, nor collect any data for unclear purposes or without appropriate security measures.<br />




                </div>
            </div>
            <p class="text-footer col-md-12 mt-15"><a href="~/Account/TermsPolicy">Terms and Privacy Policy </a> &copy; Copyright 2018. All rights reserved.</p>
        </div>
    </div>
</section>



