USE [LFZ_TruckPark]
GO
/****** Object:  Table [dbo].[M_APIKey]    Script Date: 12/27/2024 17:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_APIKey](
	[APIKeyId] [int] IDENTITY(1,1) NOT NULL,
	[APIKey] [varchar](255) NOT NULL,
	[PortalName] [varchar](100) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[APIKeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_ExtAPI_ReceivedLog]    Script Date: 12/27/2024 17:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_ExtAPI_ReceivedLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[APIKeyId] [int] NULL,
	[PayLoad] [text] NULL,
	[SourceIP] [varchar](100) NULL,
	[ReceivedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_ExtAPI_SentLog]    Script Date: 12/27/2024 17:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_ExtAPI_SentLog](
	[SentLogId] [int] IDENTITY(1,1) NOT NULL,
	[PayLoad] [text] NULL,
	[SourceIP] [varchar](100) NOT NULL,
	[SentAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SentLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 12/27/2024 17:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[OrganizationID] [smallint] IDENTITY(1,1) NOT NULL,
	[GUID] [varchar](50) NULL,
	[CompanyName] [varchar](2000) NULL,
	[CompanyShortName] [varchar](500) NULL,
	[OrganizationCreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[OrganizationTypeId] [smallint] NOT NULL,
	[CompanyAddress] [varchar](1000) NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Truck]    Script Date: 12/27/2024 17:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Truck](
	[TruckId] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [varchar](50) NULL,
	[TruckNo] [varchar](50) NOT NULL,
	[OwnedByOrganizationId] [int] NULL,
	[OwnedByOrgGUID] [varchar](50) NULL,
	[TruckCapacityId] [int] NULL,
	[TruckCapacityGUID] [varchar](50) NULL,
	[CreatedByGUID] [varchar](50) NULL,
	[Createdby] [int] NULL,
	[Createddate] [datetime] NOT NULL,
	[ModifiedByGUID] [varchar](50) NULL,
	[Modifiedby] [int] NULL,
	[Modifieddate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Truck] PRIMARY KEY CLUSTERED 
(
	[TruckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TruckDetails]    Script Date: 12/27/2024 17:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TruckDetails](
	[TruckDetailsId] [bigint] IDENTITY(1,1) NOT NULL,
	[GUID] [varchar](50) NULL,
	[TruckId] [bigint] NULL,
	[TruckGUID] [varchar](50) NULL,
	[CalledByOrganizationId] [int] NULL,
	[CalledByOrgGUID] [varchar](50) NULL,
	[TruckCapacityId] [int] NULL,
	[TruckCapacity] [varchar](20) NULL,
	[ExpectedArrivalDate] [datetime] NULL,
	[ExpectedDepatureDate] [datetime] NULL,
	[LocalTransferTypeId] [int] NULL,
	[TransferType] [varchar](50) NULL,
	[TransportName] [varchar](200) NULL,
	[TransportNo] [varchar](50) NULL,
	[DriverName] [varchar](200) NULL,
	[DriverNo] [varchar](50) NULL,
	[MaterialTypeId] [int] NULL,
	[MaterialType] [varchar](50) NULL,
	[MaterialGoods] [varchar](200) NULL,
	[ActualArrivalDate] [datetime] NULL,
	[ActualDepatureDate] [datetime] NULL,
	[IsForecasted] [bit] NULL,
	[IsCheckedIn] [bit] NULL,
	[IsCalledOut] [bit] NULL,
	[IsBilled] [bit] NULL,
	[Createdby] [int] NULL,
	[Createddate] [datetime] NOT NULL,
	[Modifiedby] [int] NULL,
	[Modifieddate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TruckDetails] PRIMARY KEY CLUSTERED 
(
	[TruckDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_APIKey] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[M_APIKey] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[M_ExtAPI_ReceivedLog] ADD  DEFAULT (getdate()) FOR [ReceivedAt]
GO
ALTER TABLE [dbo].[M_ExtAPI_SentLog] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Truck] ADD  CONSTRAINT [DF_Truck_Createddate]  DEFAULT (dateadd(hour,(1),getutcdate())) FOR [Createddate]
GO
ALTER TABLE [dbo].[Truck] ADD  CONSTRAINT [DF_Truck_Modifieddate]  DEFAULT (dateadd(hour,(1),getutcdate())) FOR [Modifieddate]
GO
ALTER TABLE [dbo].[TruckDetails] ADD  CONSTRAINT [DF_TruckDetails_Createddate]  DEFAULT (dateadd(hour,(1),getutcdate())) FOR [Createddate]
GO
ALTER TABLE [dbo].[TruckDetails] ADD  CONSTRAINT [DF_TruckDetails_Modifieddate]  DEFAULT (dateadd(hour,(1),getutcdate())) FOR [Modifieddate]
GO
/****** Object:  StoredProcedure [dbo].[API_ReceivedLog]    Script Date: 12/27/2024 17:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[API_ReceivedLog]
@ApiKeyId INT,
@PayLoad TEXT,
@SourceIP VARCHAR(50)
AS
BEGIN
	INSERT INTO M_ExtAPI_ReceivedLog (APIKeyId, PayLoad, SourceIP)
							  VALUES (@ApiKeyId, @PayLoad, @SourceIP)
END
GO
/****** Object:  StoredProcedure [dbo].[API_SentLog]    Script Date: 12/27/2024 17:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[API_SentLog]
@PayLoad TEXT,
@SourceIP VARCHAR(50)
AS
BEGIN
	INSERT INTO M_ExtAPI_SentLog(PayLoad, SourceIP)
							  VALUES (@PayLoad, @SourceIP)
END
GO
/****** Object:  StoredProcedure [dbo].[IsTruckExists]    Script Date: 12/27/2024 17:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsTruckExists]
@TruckNo VARCHAR(50),
@GUID VARCHAR(50),
@OwnedByOrgGUID VARCHAR(50),
@TruckCapacityGUID VARCHAR(50),
@ChangedByGUID VARCHAR(50),
@OutMssg VARCHAR = '' OUTPUT
AS 
BEGIN
	
	IF EXISTS (SELECT TruckNo FROM Truck WHERE TruckNo = @TruckNo)
		BEGIN
			  UPDATE Truck SET 
			  [GUID] = @GUID 
			, ModifiedByGUID = @ChangedByGUID
			, Modifieddate = GETDATE()
			WHERE TruckNo = @TruckNo

			SET @OutMssg = 'Truck Data Updated'
		END
	ELSE
		BEGIN
			INSERT INTO Truck  ([GUID], TruckNo, OwnedByOrgGUID, TruckCapacityGUID, CreatedByGUID, Createddate, IsActive)
						VALUES (@GUID, @TruckNo, @OwnedByOrgGUID, @TruckCapacityGUID, @ChangedByGUID, GETDATE(), 1)
			
			SET @OutMssg = 'Truck Data Added'
		END


END
GO
/****** Object:  StoredProcedure [dbo].[Truck_CRUD_API]    Script Date: 12/27/2024 17:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Truck_CRUD_API]
@GUID VARCHAR(50)
,@TruckGUID VARCHAR(50)
,@TruckNo VARCHAR(50)
,@CalledByOrgGUID VARCHAR(50)
,@TruckCapacity VARCHAR(20)
,@ExpectedArrivalDate DATETIME
,@ExpectedDepatureDate DATETIME
,@TransferType VARCHAR(50)
,@TransportName VARCHAR(100)
,@TransportNo VARCHAR(20)
,@DriverName VARCHAR(100)
,@DriverNo VARCHAR(20)
,@MaterialType VARCHAR(20)
,@UDID VARCHAR(50)
,@OutMssg VARCHAR(100) = '' OUTPUT
,@OutIsSuccess BIT = 0 OUTPUT


AS
BEGIN

DECLARE @TruckId INT
SET @TruckId = (SELECT TruckId FROM Truck WHERE TruckNo = @TruckNo AND IsActive = 1)

	IF NOT EXISTS (SELECT [GUID] FROM TruckDetails WHERE [GUID] = @GUID)
		BEGIN
			INSERT INTO TruckDetails ([GUID], TruckId, TruckGUID, CalledByOrgGUID, TruckCapacity, ExpectedArrivalDate
									, ExpectedDepatureDate, TransferType, DriverName, DriverNo, MaterialType
									, TransportName, TransportNo,Createdby, Createddate, IsActive)
							  VALUES (@GUID, @TruckId, @TruckGUID, @CalledByOrgGUID, @TruckCapacity, @ExpectedArrivalDate
									, @ExpectedDepatureDate, @TransferType, @DriverName, @DriverNo, @MaterialType
									, @TransportName, @TransportNo, 1, GETDATE(), 1)


				SET @OutIsSuccess = 1
				SET @OutMssg = 'Data Added Successfully.'
		END
	--ELSE
	--	BEGIN

	--	END

END

GO
