USE [LFZ_TruckPark]
GO
/****** Object:  StoredProcedure [dbo].[Truck_CRUD_API]    Script Date: 12/31/2024 12:26:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Truck_CRUD_API]
@GUID VARCHAR(50)
,@TruckGUID VARCHAR(50)
,@TruckNo VARCHAR(50)
,@CalledByOrgGUID VARCHAR(50)
,@TruckCapacity VARCHAR(20)
,@ExpectedArrivalDate DATETIME
,@ExpectedDepatureDate DATETIME
,@TransferType VARCHAR(50)
,@TransportName VARCHAR(100)
,@TransportNo VARCHAR(20)
,@DriverName VARCHAR(100)
,@DriverNo VARCHAR(20)
,@MaterialType VARCHAR(20)
,@UDID VARCHAR(50)
,@OutId BIGINT = 0 OUTPUT
,@OutMssg VARCHAR(100) = '' OUTPUT
,@OutIsSuccess BIT = 0 OUTPUT


AS
BEGIN

DECLARE @TruckId INT
SET @TruckId = (SELECT TruckId FROM Truck WHERE TruckNo = @TruckNo AND IsActive = 1)

	IF NOT EXISTS (SELECT [GUID] FROM TruckDetails WHERE [GUID] = @GUID)
		BEGIN
			INSERT INTO TruckDetails ([GUID], TruckId, TruckGUID, CalledByOrgGUID, TruckCapacity, ExpectedArrivalDate
									, ExpectedDepatureDate, TransferType, DriverName, DriverNo, MaterialType
									, TransportName, TransportNo,Createdby, Createddate, IsActive)
							  VALUES (@GUID, @TruckId, @TruckGUID, @CalledByOrgGUID, @TruckCapacity, @ExpectedArrivalDate
									, @ExpectedDepatureDate, @TransferType, @DriverName, @DriverNo, @MaterialType
									, @TransportName, @TransportNo, 1, GETDATE(), 1)


				SET @OutId = SCOPE_IDENTITY()
				SET @OutIsSuccess = 1
				SET @OutMssg = 'Data Added Successfully.'
		END
	--ELSE
	--	BEGIN

	--	END

END

