USE [LFZ_TruckPark_New]
GO
/****** Object:  StoredProcedure [dbo].[Truck_CRUD_API]    Script Date: 10-02-2026 18:47:15 ******/
DROP PROCEDURE [dbo].[Truck_CRUD_API]
GO
/****** Object:  StoredProcedure [dbo].[IsTruckExists]    Script Date: 10-02-2026 18:47:15 ******/
DROP PROCEDURE [dbo].[IsTruckExists]
GO
/****** Object:  StoredProcedure [dbo].[IsTruckExists]    Script Date: 10-02-2026 18:47:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsTruckExists]
@TruckNo VARCHAR(50),
@GUID VARCHAR(50),
@OwnedByOrgGUID VARCHAR(50),
@TruckCapacityGUID VARCHAR(50),
@ChangedByGUID VARCHAR(50),
@OutId BIGINT = 0 OUTPUT,
@OutMssg VARCHAR(1000) = '' OUTPUT,
@OutIsSuccess BIT = 0 OUTPUT,
@OutIsTruckCapacityMapFailed BIT = 0 OUTPUT,
@OutIsUserMapFailed BIT = 0 OUTPUT
AS 
BEGIN

	SET @OutId = -1;
	SET @OutIsSuccess = 0;
	SET @OutIsTruckCapacityMapFailed = 0;
	SET @OutIsUserMapFailed = 0;
	
	IF(@GUID IS NULL OR @GUID = '')
	BEGIN
		SET @OutIsSuccess = 0
		SET @OutMssg = CONCAT('Truck UUID is either NULL or Empty [truck.id][', @GUID, ']')
		RETURN
	END

	DECLARE @OrgId INT, @T_CapcityId INT
	SET @OrgId = (SELECT OrganizationId FROM UserDetails WHERE [GUID] = @ChangedByGUID)
	SET @T_CapcityId = (SELECT TruckCapacityId FROM M_TruckCapacity WHERE [GUID] = @TruckCapacityGUID)

	IF(@OrgId IS NULL OR @OrgId <= 0)
	BEGIN
		SET @OutIsSuccess = 0
		SET @OutIsUserMapFailed = 1
		SET @OutMssg = CONCAT('Failed to map Organization Id [user.id][', @ChangedByGUID, ']')
		RETURN
	END

	IF(@T_CapcityId IS NULL OR @T_CapcityId <= 0)
	BEGIN
		SET @OutIsSuccess = 0
		SET @OutIsTruckCapacityMapFailed = 1
		SET @OutMssg = CONCAT('Failed to map Truck Capacity Id [truck.capacity.id][', @TruckCapacityGUID, ']')
		RETURN
	END


	IF EXISTS (SELECT TruckNo FROM Truck WHERE TruckNo = @TruckNo)
		BEGIN
			  UPDATE Truck SET 
			  [GUID] = @GUID 
			, ModifiedByGUID = @ChangedByGUID
			, Modifiedby = -1
			, Modifieddate = GETDATE()
			WHERE TruckNo = @TruckNo

			SET @OutIsSuccess = 1
			SET @OutMssg = 'Success: Truck Data Updated'
		END
	ELSE
		BEGIN
			INSERT INTO Truck  ([GUID], TruckNo, OwnedByOrgGUID, TruckCapacityGUID, OwnedByOrganizationId
								, TruckCapacityId, CreatedByGUID, Createdby, Createddate, IsActive)
						VALUES (@GUID, @TruckNo, @OwnedByOrgGUID, @TruckCapacityGUID, @OrgId, @T_CapcityId
								, @ChangedByGUID, -1, GETDATE(), 1)

			SET @OutIsSuccess = 1
			SET @OutMssg = 'Success: Truck Data Added'
		END


END
GO
/****** Object:  StoredProcedure [dbo].[Truck_CRUD_API]    Script Date: 10-02-2026 18:47:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Truck_CRUD_API]
@GUID VARCHAR(50)
,@TruckGUID VARCHAR(50)
,@TruckNo VARCHAR(50)
,@CalledByOrgGUID VARCHAR(50)
,@TruckCapacityGUID VARCHAR(50)
,@ExpectedArrivalDate DATETIME
,@ExpectedDepatureDate DATETIME
,@TransferTypeGUID VARCHAR(50)
,@TransportName VARCHAR(100)
,@TransportNo VARCHAR(20)
,@DriverName VARCHAR(100)
,@DriverNo VARCHAR(20)
,@MaterialTypeGUID VARCHAR(50)
,@UDID VARCHAR(50)
,@TerminalGUID VARCHAR(50)
,@OutId BIGINT = 0 OUTPUT
,@OutMssg VARCHAR(1000) = '' OUTPUT
,@OutIsSuccess BIT = 0 OUTPUT
,@OutIsMaterialTypeMapFailed BIT = 0 OUTPUT
,@OutIsTransferTypeMapFailed BIT = 0 OUTPUT
,@OutIsTruckCapacityMapFailed BIT = 0 OUTPUT
,@OutIsUserMapFailed BIT = 0 OUTPUT

AS
BEGIN

	SET @OutId = -1;
	SET @OutIsSuccess = 0;
	SET @OutIsMaterialTypeMapFailed = 0;
	SET @OutIsTransferTypeMapFailed = 0;
	SET @OutIsTruckCapacityMapFailed = 0;
	SET @OutIsUserMapFailed = 0;

	IF(@GUID IS NULL OR @GUID = '')
	BEGIN
		SET @OutIsSuccess = 0
		SET @OutMssg = CONCAT('Truck UUID is either NULL or Empty [truck.id][', @GUID, ']')
		RETURN
	END

	DECLARE @TruckId INT, @MaterialTypeId INT, @TransferTypeId INT, @TruckCapacityId INT, @UserId INT
			, @OrgId INT

	SET @TruckId = (SELECT TruckId FROM Truck WHERE TruckNo = @TruckNo AND IsActive = 1)
	SET @MaterialTypeId = (SELECT LOVId FROM M_ListOfValues WHERE [GUID] = @MaterialTypeGUID)
	SET @TransferTypeId = (SELECT LOVId FROM M_ListOfValues WHERE [GUID] = @TransferTypeGUID)
	SET @TruckCapacityId = (SELECT TruckCapacityId FROM M_TruckCapacity WHERE [GUID] = @TruckCapacityGUID)
	SET @UserId = (SELECT UDID FROM UserDetails WHERE [GUID] = @UDID)
	SET @OrgId = (SELECT OrganizationId FROM UserDetails WHERE [GUID] = @UDID)

	IF(@MaterialTypeId IS NULL OR @MaterialTypeId <= 0)
	BEGIN
		SET @OutIsSuccess = 0
		SET @OutIsMaterialTypeMapFailed = 1
		SET @OutMssg = CONCAT('Failed to map Material Type Id [material.id][', @MaterialTypeGUID, ']')
		RETURN
	END

	IF(@TransferTypeId IS NULL OR @TransferTypeId <= 0)
	BEGIN
		SET @OutIsSuccess = 0
		SET @OutIsTransferTypeMapFailed = 1
		SET @OutMssg = CONCAT('Failed to map Transfer Type Id [category.id][', @TransferTypeGUID, ']')
		RETURN
	END

	IF(@TruckCapacityId IS NULL OR @TruckCapacityId <= 0)
	BEGIN
		SET @OutIsSuccess = 0
		SET @OutIsTruckCapacityMapFailed = 1
		SET @OutMssg = CONCAT('Failed to map Truck Capacity Id [truck.capacity.id][', @TruckCapacityGUID, ']')
		RETURN
	END

	IF(@UserId IS NULL OR @UserId <= 0 OR @OrgId IS NULL OR @OrgId <= 0)
	BEGIN
		SET @OutIsSuccess = 0
		SET @OutIsUserMapFailed = 1
		SET @OutMssg = CONCAT('Failed to map User / Org Id [user.id][', @UDID, ']')
		RETURN
	END

	IF NOT EXISTS (SELECT [GUID] FROM TruckDetails WHERE [GUID] = @GUID)
		BEGIN
			INSERT INTO TruckDetails ([GUID], TruckId, TruckGUID, CalledByOrgGUID, TruckCapacityId, TruckCapacityGUID, ExpectedArrivalDate
									, ExpectedDepatureDate, LocalTransferTypeId, TransferTypeGUID, DriverName, DriverNo, MaterialTypeGUID
									, IsForecasted, IsCalledOut, IsCheckedIn, IsBilled, CalledByOrganizationId
									, MaterialTypeId, TransportName, TransportNo, TerminalGUID, Createdby, Createddate, IsActive)
							  VALUES (@GUID, @TruckId, @TruckGUID, @CalledByOrgGUID, @TruckCapacityId, @TruckCapacityGUID, @ExpectedArrivalDate
									, @ExpectedDepatureDate, @TransferTypeId, @TransferTypeGUID, @DriverName, @DriverNo, @MaterialTypeGUID
									, 0, 0, 0, 0, @OrgId
									, @MaterialTypeId, @TransportName, @TransportNo, @TerminalGUID, @UserId, GETDATE(), 1)


				SET @OutId = SCOPE_IDENTITY()
				SET @OutIsSuccess = 1
				SET @OutMssg = 'Data Added Successfully.'
		END
	ELSE 
		BEGIN
			UPDATE TruckDetails SET
			  TruckId = @TruckId
			, TruckGUID = @TruckGUID
			, CalledByOrgGUID = @CalledByOrgGUID
			, TruckCapacityGUID = @TruckCapacityGUID
			, TruckCapacityId = @TruckCapacityId
			, ExpectedArrivalDate = @ExpectedArrivalDate
			, ExpectedDepatureDate = @ExpectedDepatureDate
			, TransferTypeGUID = @TransferTypeGUID
			, LocalTransferTypeId = @TransferTypeId
			, DriverName = @DriverName
			, DriverNo = @DriverNo
			, MaterialTypeGUID = @MaterialTypeGUID
			, MaterialTypeId = @MaterialTypeId
			, TransportName = @TransportName
			, TransportNo = @TransportNo
			, TerminalGUID = @TerminalGUID
			, IsCheckedIn = 0, IsCalledOut = 0, IsBilled = 0
			, CalledByOrganizationId = @OrgId
			, Modifiedby = @UserId
			, Modifieddate = GETDATE()
			WHERE [GUID] = @GUID
			
				SET @OutId = (SELECT TruckDetailsId FROM TruckDetails WHERE [GUID] = @GUID)
				SET @OutIsSuccess = 1
				SET @OutMssg = 'Data Updated Successfully.'
		END


END

/****** Object:  StoredProcedure [dbo].[IsTruckExists]    Script Date: 21-Jan-26 1:41:48 PM ******/
SET ANSI_NULLS ON
GO
