USE [LFZ_TruckPark]
GO
/****** Object:  StoredProcedure [dbo].[ProformaInvoice_FinalProcess]    Script Date: 17-Mar-26 11:37:46 PM ******/
DROP PROCEDURE [dbo].[ProformaInvoice_FinalProcess]
GO
/****** Object:  StoredProcedure [dbo].[ProformaInvoice_C]    Script Date: 17-Mar-26 11:37:46 PM ******/
DROP PROCEDURE [dbo].[ProformaInvoice_C]
GO
/****** Object:  StoredProcedure [dbo].[ProformaInvoice_C]    Script Date: 17-Mar-26 11:37:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- exec ProformaInvoice_C 2, 4, 1, '10007', 0
-- =============================================
CREATE PROCEDURE [dbo].[ProformaInvoice_C] 
@UDID INT
,@OrganizationId int
,@TotalTruckCount int
,@TruckIdList VARCHAR(MAX)
,@OutParam INT OUTPUT 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ProformaInvoiceId int
	DECLARE @TotalInvoiceAmount numeric(21,2)
	DECLARE @TotalDiscount numeric(21,2)

	DECLARE @TruckT TABLE
	(
	TruckNo VARCHAR(1000),
	TruckCapacityId INT,
	CheckedInDate DATETIME,
	CheckedOutDate DATETIME,
	InvoiceRate NUMERIC(21,2),
	InvoiceAmount NUMERIC(21,2),
	Discount NUMERIC(21,2),
	InvoiceDate DATETIME
	)

	INSERT INTO @TruckT
	SELECT T.TruckNo
	,	TD.TruckCapacityId
	,	TD.ActualArrivalDate AS CheckedInDate
	,	TD.ActualDepatureDate AS CheckedOutDate
	,	CASE WHEN TD.TruckCapacityId<=3 THEN 2500 ELSE 5000 END AS InvoiceRate
	--,	dbo.CalculateSlabWiseAmount(TD.ActualArrivalDate,TD.ActualDepatureDate,CASE WHEN TD.TruckCapacityId=7 THEN 40 ELSE MTC.TruckCapacity END) AS InvoiceAmount
	--,	dbo.CalculateDiscountAmount(dbo.CalculateSlabWiseAmount(TD.ActualArrivalDate,TD.ActualDepatureDate,CASE WHEN TD.TruckCapacityId=7 THEN 40 ELSE MTC.TruckCapacity END), TD.IsForecasted) AS Discount

--	, dbo.CalculateSlabWiseAmount(
--        CASE 
--            WHEN DATEDIFF(HOUR, TD.ActualArrivalDate, TD.ActualDepatureDate) > 2 
--                THEN DATEADD(HOUR, 2, TD.ActualArrivalDate)
--            ELSE TD.ActualDepatureDate  -- zero billable time
--        END,
--        TD.ActualDepatureDate,
--        CASE WHEN TD.TruckCapacityId = 7 THEN 40 ELSE MTC.TruckCapacity END
--  ) AS InvoiceAmount

--, dbo.CalculateDiscountAmount(
--        dbo.CalculateSlabWiseAmount(
--            CASE 
--                WHEN DATEDIFF(HOUR, TD.ActualArrivalDate, TD.ActualDepatureDate) > 2 
--                    THEN DATEADD(HOUR, 2, TD.ActualArrivalDate)
--                ELSE TD.ActualDepatureDate
--            END,
--            TD.ActualDepatureDate,
--            CASE WHEN TD.TruckCapacityId = 7 THEN 40 ELSE MTC.TruckCapacity END
--        ),
--        TD.IsForecasted
--  ) AS Discount

, CASE 
      WHEN DATEDIFF(HOUR, TD.ActualArrivalDate, TD.ActualDepatureDate) <= 2 
           THEN 0
		    --WHEN Td.ActualArrivalDate between '2025-11-01' and '2025-11-30'
      --     THEN 0
      ELSE dbo.CalculateSlabWiseAmount(
               DATEADD(HOUR, -2, TD.ActualArrivalDate),          -- remove first 2 free hours
               TD.ActualDepatureDate,
               CASE WHEN TD.TruckCapacityId = 7 THEN 40 ELSE MTC.TruckCapacity END
           )
  END AS InvoiceAmount

, CASE 
      WHEN DATEDIFF(HOUR, TD.ActualArrivalDate, TD.ActualDepatureDate) <= 2 
           THEN 0
		    --WHEN Td.ActualArrivalDate between '2025-11-01' and '2025-11-30'
      --     THEN 0
      ELSE dbo.CalculateDiscountAmount(
               dbo.CalculateSlabWiseAmount(
                   DATEADD(HOUR, -2, TD.ActualArrivalDate), 
                   TD.ActualDepatureDate,
                   CASE WHEN TD.TruckCapacityId = 7 THEN 40 ELSE MTC.TruckCapacity END
               ),
               TD.IsForecasted
           )
  END AS Discount

	,	DATEADD(hh,1,GETUTCDATE())
	FROM		TruckDetails TD 
	INNER JOIN	Truck T				ON TD.TruckId=T.TruckId						AND T.IsActive=1
	INNER JOIN	M_TruckCapacity MTC ON TD.TruckCapacityId=MTC.TruckCapacityId	AND MTC.IsActive=1
	WHERE		TD.TruckDetailsId IN (select ITEM from [dbo].[SPLIT](@TruckIdList,',')) 

	SET @TotalInvoiceAmount=(SELECT SUM(CAST(InvoiceAmount AS NUMERIC(21,2))) FROM  @TruckT)
	SET @TotalDiscount=(SELECT SUM(CAST(Discount AS NUMERIC(21,2))) FROM @TruckT)


	INSERT INTO [dbo].[ProformaInvoice]
					   ([InvoiceNo]
					   ,[OrganizationId]
					   ,[TotalTruckCount]
					   ,[TotalInvoiceAmount]
					   ,[TotalDiscount]
					   ,[Invoicedate]
					   ,[Createdby]
					   ,[Createddate]
					   ,[IsActive])
	 VALUES
					   ([dbo].[GenerateInvoiceNumber](@OrganizationId)
					   ,@OrganizationId
					   ,@TotalTruckCount
					   ,@TotalInvoiceAmount
					   ,@TotalDiscount
					   ,DATEADD(hh,1,GETUTCDATE())
					   ,@UDID
					   ,DATEADD(hh,1,GETUTCDATE())
					   ,1)

	SET @ProformaInvoiceId=SCOPE_IDENTITY()

	INSERT INTO [dbo].[ProformaInvoiceDet]
           ([ProformaInvoiceId]
           ,[TruckNo]
           ,[TruckCapacityId]
           ,[CheckedInDate]
           ,[CheckedOutDate]
           ,[InvoiceRate]
           ,[InvoiceAmount]
           ,[Invoicedate]
		   ,[Discount]
           ,[Createdby]
           ,[Createddate]
           ,[IsActive])

	SELECT @ProformaInvoiceId
	,		TruckNo
	,		TruckCapacityId
	,		CheckedInDate
	,		CheckedOutDate
	,		InvoiceRate
	,		InvoiceAmount
	,		InvoiceDate
	,		Discount
	,		@UDID
	,		DATEADD(hh,1,GETUTCDATE())
	,		1
	FROM @TruckT

	--UPDATE TruckDetails
	--SET IsBilled=1
	--WHERE TruckDetailsId IN (select ITEM from [dbo].[SPLIT](@TruckIdList,','))


	 set @OutParam = @ProformaInvoiceId
END
GO
/****** Object:  StoredProcedure [dbo].[ProformaInvoice_FinalProcess]    Script Date: 17-Mar-26 11:37:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProformaInvoice_FinalProcess]
@TruckIdList VARCHAR(MAX),
@ProformaInvoiceId INT,
@IsSuccess BIT,
@UpdatedById INT
AS
BEGIN

	IF @IsSuccess = 1
	BEGIN
		UPDATE TruckDetails
		SET 
			IsBilled = 1,
			Modifiedby = @UpdatedById,
			Modifieddate = GETDATE()
		WHERE 
			TruckDetailsId IN (SELECT ITEM FROM [dbo].[SPLIT](@TruckIdList,','))

		UPDATE ProformaInvoice
		SET 
			IsActive = 1,
			Modifiedby = @UpdatedById,
			Modifieddate = GETDATE()
		WHERE ProformaInvoiceId = @ProformaInvoiceId

		UPDATE ProformaInvoiceDet
		SET 
			IsActive = 1,
			Modifiedby = @UpdatedById,
			Modifieddate = GETDATE()
		WHERE ProformaInvoiceId = @ProformaInvoiceId

	END
	ELSE 
	BEGIN
		UPDATE TruckDetails
		SET 
			IsBilled = 0,
			Modifiedby = @UpdatedById,
			Modifieddate = GETDATE()
		WHERE 
			TruckDetailsId IN (SELECT ITEM FROM [dbo].[SPLIT](@TruckIdList,','))

		UPDATE ProformaInvoice
		SET 
			IsActive = 0,
			Modifiedby = @UpdatedById,
			Modifieddate = GETDATE()
		WHERE ProformaInvoiceId = @ProformaInvoiceId

		UPDATE ProformaInvoiceDet
		SET 
			IsActive = 0,
			Modifiedby = @UpdatedById,
			Modifieddate = GETDATE()
		WHERE ProformaInvoiceId = @ProformaInvoiceId
	END

END
GO
