<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    
    <add key="MailHostName" value="smtpout.secureserver.net" />
    <add key="MailUserName" value="no-reply@lagosfreezone.com" />
    <add key="MailPassword" value="Zaksof@123" />
    <add key="SenderEmail" value="no-reply@lagosfreezone.com" />
    <add key="SenderPort" value="80" />


    <add key="SendMailForLocal" value="0" />
    <!--<add key="SendMailForLocal" value="0" />-->
    <add key="MailIdForLocal" value="ashish.khemka@tolaram.com,nikhil.khandelwal@tolaram.com,madhav.banka@tolaram.com,swaraj.agarwal@tolaram.com" />



    <add key="LFZHrEmail" value="ashish.khemka@tolaram.com,nikhil.khandelwal@tolaram.com,madhav.banka@tolaram.com,swaraj.agarwal@tolaram.com" />

    <add key="AdminEmailSubject" value="Truck Report" />
    <add key="EnterpriseEmailSubject" value="Truck Report" />
  </appSettings>

  <connectionStrings>
    <!--<add name="AppConnectionString" connectionString="Data Source=DESKTOP-HMO05CP\SQLEXPRESS;Initial Catalog=LFZ_TruckPark_W;user id=sa;password=sa123; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="LFZ_TruckParkEntities" connectionString="metadata=res://*/LFTZIPContext.csdl|res://*/LFTZIPContext.ssdl|res://*/LFTZIPContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HMO05CP\SQLEXPRESS;initial catalog=LFZ_TruckPark_W;user id=sa;password=sa123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
    
    <add name="AppConnectionString" connectionString="Data Source=IP-208-109-15-4\SQLEXPRESS;Initial Catalog=LFZ_TruckPark;user id=zaksof;password=lfzprodnew@1234; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="LFZ_TruckParkEntities" connectionString="metadata=res://*/LFTZIPContext.csdl|res://*/LFTZIPContext.ssdl|res://*/LFTZIPContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IP-208-109-15-4\SQLEXPRESS;initial catalog=LFZ_TruckPark;user id=zaksof;password=lfzprodnew@1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
